<! -- user register component -->
<div class="form-group">
  <H3><u>Insert User Data</u></H3>
  <ul style="list-style: none;">
    <li>
      Phone Number:
      <input [(ngModel)]="userPhoneNumber" type="text" class="form-control" id="number" placeholder="PHONE NUMBER"
             required
             name="name"/>
    </li>
    <li>
      Full Name:
      <input [(ngModel)]="userName" type="text" class="form-control" id="username" placeholder="NAME" required
             name="name">
    </li>
    <li>
      Email Address:
      <input [(ngModel)]="userEmail" type="text" class="form-control" id="email" placeholder="EMAIL" required
             name="name">
    </li>
    <li>
      Business Name:
      <div class="ng-autocomplete dropdown">
        <ng-autocomplete
          [data]="businesses"
          [searchKeyword]="keyword"
          (selected)='selectEvent($event)'
          (inputChanged)='onChangeSearch($event)'
          (inputFocused)='onFocused($event)'
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
          [placeHolder]="'BUSINESS NAME'">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
        <br>
      </div>

    </li>

  </ul>

  <button type="submit" (click)="insertNewPerson()" class="btn btn-primary">Register</button>
</div>

