<! -- user register component -->
<div class="form-group">
  <H4 >Insert User Data</H4>
  <input [(ngModel)]="userPhoneNumber" type="text" class="form-control" id="number" placeholder="PHONE NUMBER" required name="name">
  <input [(ngModel)]="userName" type="text" class="form-control" id="username" placeholder="NAME" required name="name">
  <input [(ngModel)]="userEmail" type="text" class="form-control" id="email" placeholder="EMAIL" required name="name">
  <input [(ngModel)]="businessEntered" type="text" class="form-control" id="businessentered" placeholder="BUSINESS" required name="name">
  <br>
  <button type="submit" (click)="insertNewPerson()" class="btn btn-primary">Register</button>
</div>
