<form>
  <div class="form-group"> <!-- First Name -->
    <label for="first_name" class="control-label">First Name</label>
    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Martin">
  </div>

  <div class="form-group"> <!-- Last Name -->
    <label for="last_name" class="control-label">Last Name</label>
    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Toha">
  </div>

  <div class="form-group"> <!-- Email -->
    <label for="email" class="control-label">E-mail</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="your@email.com">
  </div>

  <div class="form-group"> <!-- Zip Code-->
    <label for="zipcode" class="control-label">Zip Code</label>
    <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="#####">
  </div>

  <div class="form-group"> <!-- Password -->
    <label for="password" class="control-label">Password</label>
    <input type="text" class="form-control" id="password" name="password" placeholder="*****">
  </div>

  <div class="form-group"> <!-- Register Button -->
    <button type="submit" class="btn btn-primary">Register</button>
  </div>

</form>
