<div>
  <h2>Welcome!</h2>
  <h3> WE FIGHT COVID-19 TOGETHER</h3>
  <br>
  <br>
  <br>
  <div class="insertButtons">
    <div class="buttons newBusinessButton">
      <h5>Create new Business account</h5>
      <a class="button2" routerLink="/newBusiness" routerLinkActive="active">Register New Business</a>
    </div>
    <div class="buttons newPersonButton">
      <h5>Log-in you visit</h5>
      <a class="button2" routerLink="/registerPerson" routerLinkActive="active">Register Person</a>
    </div>
    <div class="buttons registerInfectedButton">
      <h5>Register Infected</h5>
      <a class="button2" routerLink="/registerInfected" routerLinkActive="active">Register Infected</a>
    </div>
    <div class="buttons analyticsButton">
      <h5>Analytics</h5>
      <a class="button2" routerLink="/analytics" routerLinkActive="active">Analytics</a>
    </div>
  </div>
</div>
<div class="picture">
</div>



