h2{
  text-align: center;
} .insertButtons {
  margin-left:300px;
}

.analyticsButton{
  text-align: center;
  float:left;
}

.newBusinessButton{
  text-align: center;
  float:left;
  width: 250px;
}
body .canvas, html .canvas {
  width: 600px;
  height: 400px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 20px 1px #bbb;
}

.newPersonButton{
  text-align: center;
  float:left;
  width: 200px;
}
body .canvas, html .canvas {
  width: 600px;
  height: 400px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 20px 1px #bbb;
}

.registerInfectedButton{
  text-align: center;
  float:left;
  width: 205px;
}
body .canvas, html .canvas {
  width: 600px;
  height: 400px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 20px 1px #bbb;
}


body .foot-wrapper, html .foot-wrapper {
  color: #BFBFBF;
  float: left;
  poisition: absoulte;
}

body .foot-wrapper .footer, html .foot-wrapper .footer {
  margin-top: 100vh;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: white;
  width: 200px;
  height: 100px;
  background: #F2385A;
  position: relative;
  margin: 30px;
  top: 10px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0px 15px 0px 0px #f02046, 0px 0px 20px 0px #bbb;
  transition: all 0.2s;
}

a:active {
  box-shadow: 0px 7px 0px 0px #f02046;
}

.button1 {
  background-color: #F2385A;
}

.button2 {
  background-color: #3498DB;
  box-shadow: 0px 15px 0px 0px #258cd1;
}

.button2:active {
  box-shadow: 0px 7px 0px 0px #258cd1;
}

h3 {
  text-align: center;
}

.picture{
  align-content: baseline;
  float: bottom;
}
