<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" [routerLink]="'/home'">Anti Covid-19</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item " [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="'/home'">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="'/newBusiness'">Register New Business<span class="sr-only sr-only-focusable">(current)</span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="'/registerPerson'">Register Person<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="'/registerInfected'"> Register Infected<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="'/analytics'">Analytics<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <img src="./../assets/fightTogether.jpg" alt="covid-19" width="200" height="80">
  </div>
</nav>

<router-outlet></router-outlet>
